<!-- NAV QUI PERMET D'ACCEDER AUX REQUETES DE L'UTILISATEUR -->

<nav class="navbar navbar-expand-lg navbar-light bg-warning rounded">
    <div class="container-fluid">
        <ul class="navbar-nav mb-2 mx-auto mb-lg-0 fw-bolder fs-1 text-light">
            <li class="nav-item">
              <a class="nav-link active text-light" aria-current="page" href="index.php?controller=category&action=list">Category</a>
            </li>
            |
            <li class="nav-item">
              <a class="nav-link active text-light" aria-current="page" href="index.php?controller=clients&action=list">Clients</a>
            </li>
            |
            <li class="nav-item">
              <a class="nav-link active text-light" aria-current="page" href="index.php?controller=prospects&action=list">Prospects</a>
            </li>
        </ul>
    </div>
</nav>